# csv files
*.csv
*.csv.gz

# parquet files
*.parquet

# include dbt seed csv file
!taxi_zone_lookup.csv

# duckdb data
*.duckdb

# jupyter data
.ipynb_checkpoints

# postgres data
mage_data
ny_taxi_postgres_data

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# GCP credentials
key.json

# batch processing files
05-batch-processing/data