# csv files
*.csv

# duckdb data
*.duckdb

# jupyter data
.ipynb_checkpoints

# postgres data
mage_data
ny_taxi_postgres_data

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# GCP credentials
key.json